<h3>add new list</h3>

<form action="/lists" method="post">
  <div class="form-group">
    <label class="form-label" for="name">assign a name to your list:</label>
    <input class="form-control" id="name" type="text" name="name" placeholder="list name">
  </div>
  <button type="submit" class="button btn">Add List</button>
</form>

<a href="/">return home</a>
